body {
    background: white;
  
  }
 
  img {
    margin-top: 90px;
    margin-left: 100px;
    width: 300px;
    height: 300px;
    border-radius: 25px;
    border-style: groove;
  }
  
  h1 {
    text-align: center;
    margin-top:50px;
    font-size: 40px;
    color: #1268e9;
  }
  h2{
    text-align: center;
    margin-top: 20px;
    color:grey;
  }
  footer{
      text-align: center;
      background: rgb(212, 203, 203);
      margin-top: 92mm;
  }